---
import LayoutCercle from "@layouts/LayoutCercle.astro";
import { Image } from "astro:assets";

import _CAP from "@images/cercles/cap.jpg";
import imageComite from "@images/comités/cap.jpg";
import _LocalCAP from "@images/locaux/cap.jpg";

const cercle = "Centrale d'Achats Polytech";

const comite = [
  { role: "Président", name: "Florian Druart" },
  { role: "Trésorière", name: "Kateline Malray" },
];
const links: { name: string; type: string; url: string }[] | undefined = [];
---

<LayoutCercle
  cercle={cercle}
  imageCercle={_CAP}
  comite={comite}
  imageComite={imageComite}
  links={links}
>
  <section class="space-y-2 text-justify">
    <h2 class="text-2xl font-medium">Description</h2>
    <p>
      La Centrale d'Achat Polytechnique ou CAP pour les intimes est un des 12
      Cercles Fédérés de notre Faculté. Ce dernier dispose d'un local situé à la
      Cité Houzeau juste à côté du Bar Polytech. Ce local est ouvert à tous du
      lundi au vendredi de 12h30 à 13h15. C'est un lieu de convivialité mais pas
      que …
    </p>
    <div class="h-32">
      <Image
        class="h-full w-full rounded-lg object-cover shadow-md"
        src={_LocalCAP}
        alt="Local CAP"
        quality={30}
        format="webp"
      />
    </div>
    <p>
      En effet, la CAP a plusieurs missions toutes liées à la mise à disposition
      de services pour la communauté estudiantine. Tout d'abord, une machine à
      café ainsi que des glaces vous y sont proposées pour un prix des plus
      démocratique. De plus, la CAP vend du matériel utile à votre parcours
      universitaire tel que les fameux tabliers de chimie mais aussi des
      fournitures (crayons, bics, équerres, …). L'attirail du parfait baptisé
      est également disponible au sein de la CAP : pennes, tablars vierges et
      insignes.
    </p>
    <p>
      Nous ne le répéterons jamais assez mais ce Cercle comme d'autres est au
      service de tous. Les canapés de notre local seront ravis de voir tout le
      monde venir s'y prélasser. On espère donc vous y retrouver rapidement ! Si
      vous avez des questions ou tout simplement besoin de renseignements,
      n'hésitez pas à passer sur les temps de midi. On sera ravis de vous aider.
    </p>
    <p><i> PS : A la CAP, il fait bon vivre !</i></p>
  </section>
</LayoutCercle>
