---
import LayoutCercle from "@layouts/LayoutCercle.astro";
import { LinkType } from "@components/Links.astro";

import _CPV from "@images/cercles/cpv.jpg";
import imageComite from "@images/comités/cpv.jpg";

const cercle = "Cercle Photo-Vidéo - CPV";

const comite = [
  {
    role: "Présidente",
    name: "Marithé Hupin",
  },
  {
    role: "Responsable vidéo",
    name: "Guillaume Mariceau",
  },
  {
    role: "Responsable photo",
    name: "Guillaume Chamart",
  },
  {
    role: "Délégué vidéo",
    name: "Gauthier Baiters",
  },
  {
    role: "Déléguée photo",
    name: "Margaux Wolf Bayot",
  },
];

const links = [
  {
    name: "Site web",
    type: LinkType.WEBSITE,
    url: "https://cerclephotovideo.fpms.ac.be/",
  },
  {
    name: "Instagram",
    type: LinkType.INSTAGRAM,
    url: "https://www.instagram.com/cpvfpms/",
  },
  {
    name: "Facebook",
    type: LinkType.FACEBOOK,
    url: "https://www.facebook.com/groups/611148859605497/",
  },
];
---

<LayoutCercle
  cercle={cercle}
  imageCercle={_CPV}
  comite={comite}
  imageComite={imageComite}
  links={links}
>
  <section class="space-y-2 text-justify">
    <h2 class="text-2xl font-medium">Description</h2>
    <p>
      Le Cercle Photo-Vidéo (CPV pour les intimes) est le Cercle qui <strong
        >immortalise toutes tes années à la Faculté !</strong
      > Grâce à nos reporters présents partout, tu peux nous trouver à tous types
      d'événements organisés au sein de notre belle Faculté : guindailles, soirées
      ouvertes, évènements de Bleusaille et de Campagnes, Bal des Mines, ...
    </p>
    <p>
      Nous sommes là tout le temps, donc n'hésite pas à nous chercher, nous
      sommes très souvent repérables par un drapeau orange et les photos sont
      disponibles après quelques jours sur <a
        class="text-blue-900 underline"
        href={links.find((link) => link.type === "WEBSITE")?.url}
        >notre site internet</a
      >. <strong
        >Plus besoin de sortir ton téléphone en soirée, tu peux compter sur nous
        pour remplir ton téléphone de beaux clichés et peut-être aussi te
        fournir tes souvenirs de guindaille</strong
      >.
    </p>
    <p>
      Mais ce n'est pas tout ! Si tu as besoin de matériel pour un projet (ou
      autre chose), que ça soit un <strong
        >appareil photo, une caméra, ou même un écran de projection</strong
      >, tu peux nous contacter, et nous mettrons à disponibilité ce dont tu as
      besoin, et tout ça gratuitement !
    </p>
  </section>
</LayoutCercle>
