---
import LayoutCercle from "@layouts/LayoutCercle.astro";

import _CPV from "@images/cercles/cpv.jpg";
import imageComite from "@images/comités/cpv.jpg";

const cercle = "Cercle Photo-Vidéo - CPV";

const comite = [
  {
    name: "Rodrigue Deghorain",
    role: "Président",
  },
  {
    name: "Marithé Hupin",
    role: "Responsable vidéo",
  },
  {
    name: "Janelle Merlevede",
    role: "Responsable photo",
  },
  {
    name: "Sarah Gilles",
    role: "Déléguée vidéo",
  },
  {
    name: "Guillaume Chamart",
    role: "Délégué photo",
  },
];

const links = [
  {
    name: "Site web",
    type: "WEBSITE",
    url: "https://cerclephotovideo.fpms.ac.be/",
  },
  {
    name: "Instagram",
    type: "INSTAGRAM",
    url: "https://www.instagram.com/cpvfpms/",
  },
  {
    name: "Facebook",
    type: "FACEBOOK",
    url: "https://www.facebook.com/groups/611148859605497/",
  },
];
---

<LayoutCercle
  cercle={cercle}
  imageCercle={_CPV}
  comite={comite}
  imageComite={imageComite}
  links={links}
>
  <section class="space-y-2 text-justify">
    <h2 class="text-2xl font-medium">Description</h2>
    <p>
      Le Cercle Photo-Vidéo (CPV pour les intimes) est le Cercle qui immortalise
      toutes tes années à la Faculté ! Grâce à nos reporters présents partout,
      tu peux nous trouver à tous types d'événements organisés au sein de notre
      belle Faculté : guindailles, soirées ouvertes, évènements de Bleusaille et
      de Campagnes, Bal des Mines, ...
    </p>
    <p>
      Nous sommes là tout le temps, donc n'hésite pas à nous chercher, nous
      sommes très souvent repérables par un drapeau orange et les photos sont
      disponibles après quelques jours sur notre site Internet. Plus besoin de
      sortir ton téléphone en soirée, tu peux compter sur nous pour remplir ton
      téléphone de beaux clichés et peut-être aussi te fournir tes souvenirs de
      guindaille.
    </p>
    <p>
      Cette tradition existe encore aujourd'hui puisque nous, étudiants de la
      Faculté Polytechnique de Mons, retournons chaque année à Peyresq au début
      de l'été pour y passer des vacances amplement méritées après une rude
      session d'examens.
    </p>
    <p>
      Mais ce n'est pas tout ! Si tu as besoin de matériel pour un projet (ou
      autre chose), que ça soit un appareil photo, une caméra, ou même un écran
      de projection, tu peux nous contacter, et nous mettrons à disponibilité ce
      dont tu as besoin, et tout ça gratuitement !
    </p>
  </section>
</LayoutCercle>
