---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";

import Bar from "@images/cercles/bar.jpg";
import CAP from "@images/cercles/cap.jpg";
import CPV from "@images/cercles/cpv.jpg";
import Magellan from "@images/cercles/magellan.jpg";
import MM from "@images/cercles/mons-mines.jpg";
import Mutu from "@images/cercles/mutu.jpg";
import Peyresq from "@images/cercles/peyresq.jpg";
import Q from "@images/cercles/q.jpg";
import Radio from "@images/cercles/radio-extra.jpg";
import Scientifique from "@images/cercles/scientifique.jpg";
import SDM from "@images/cercles/sdm.jpg";
import Sports from "@images/cercles/sports.jpg";
import CommissionWeb from "@images/commissions/commission-web.jpg";
import CommissionHistorique from "@images/commissions/commission-historique.jpg";
import ECOmmission from "@images/commissions/placeholder.jpg";
import FPMaths from "@images/commissions/placeholder.jpg";

const cercles = [
  {
    name: "Bar",
    href: "/cercles&commissions/bar",
    image: Bar,
    color: "",
  },
  {
    name: "CAP",
    href: "/cercles&commissions/cap",
    image: CAP,
    color: "",
  },
  {
    name: "CPV",
    href: "/cercles&commissions/cpv",
    image: CPV,
    color: "",
  },
  {
    name: "Magellan",
    href: "/cercles&commissions/magellan",
    image: Magellan,
    color: "",
  },
  {
    name: "Mons Mines",
    href: "/cercles&commissions/mons-mines",
    image: MM,
    color: "",
  },
  {
    name: "Mutu",
    href: "/cercles&commissions/mutu",
    image: Mutu,
    color: "",
  },
  {
    name: "Peyresq",
    href: "/cercles&commissions/peyresq",
    image: Peyresq,
    color: "",
  },
  {
    name: "Culturel",
    href: "/cercles&commissions/q",
    image: Q,
    color: "",
  },
  {
    name: "Radio Extra",
    href: "/cercles&commissions/radio-extra",
    image: Radio,
    color: "",
  },
  {
    name: "Scientifique",
    href: "/cercles&commissions/scientifique",
    image: Scientifique,
    color: "",
  },
  {
    name: "Sono-Danse-Musique",
    href: "/cercles&commissions/sdm",
    image: SDM,
    color: "",
  },
  {
    name: "Les Sports",
    href: "/cercles&commissions/sports",
    image: Sports,
    color: "",
  },
];

const commissions = [
  {
    name: "Commission Web",
    href: "/cercles&commissions/web",
    image: CommissionWeb,
    color: "",
  },
  {
    name: "Commission Historique",
    href: "/cercles&commissions/comhisto",
    image: CommissionHistorique,
    color: "",
  },
  {
    name: "ÉCOmmission",
    href: "/cercles&commissions/éco",
    image: ECOmmission,
    color: "",
  },
  {
    name: "FPMaths",
    href: "/cercles&commissions/fpmaths",
    image: FPMaths,
    color: "",
  },
];
---

<Layout title="Cercles & Commissions">
  <main class="container mx-auto space-y-4 px-4 py-4">
    <h1
      class="bg-gradient-to-r from-blue-900 to-blue-600 bg-clip-text text-3xl font-bold text-transparent"
    >
      Cercles & Commissions FPMs
    </h1>
    <section class="space-y-3">
      <h2 class="text-xl font-semibold">Cercles fédérés</h2>
      <ul
        class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
      >
        {
          cercles.map((cercle) => (
            <li class="overflow-hidden rounded-2xl shadow-lg">
              <a class="relative" href={cercle.href}>
                <>
                  <Image
                    class="-z-10 h-full object-cover"
                    src={cercle.image}
                    alt={cercle.name}
                    quality={30}
                    format="webp"
                    transition:name={cercle.name}
                  />
                  <h3 class="absolute bottom-3 left-4 text-xl font-medium text-white drop-shadow-normal">
                    {cercle.name}
                  </h3>
                </>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
    <section class="space-y-3">
      <h2 class="text-xl font-semibold">Commissions</h2>
      <ul
        class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
      >
        {
          commissions.map((commission) => (
            <li class="overflow-hidden rounded-xl shadow-lg">
              <a class="relative" href={commission.href}>
                <>
                  <Image
                    class="-z-10 h-full object-cover"
                    src={commission.image}
                    alt={commission.name}
                    quality={30}
                    format="webp"
                  />
                  <h3 class="absolute bottom-3 left-4 text-xl font-medium text-white drop-shadow-normal">
                    {commission.name}
                  </h3>
                </>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
