---
import LayoutCercle from "@layouts/LayoutCercle.astro";
import { LinkType } from "@components/Links.astro";

import _Magellan from "@images/cercles/magellan.jpg";
import imageComite from "@images/comités/magellan.jpg";
import _500 from "@images/locaux/500.jpg";
import Game from "@images/grands-evenements/game.jpg";

import { Image } from "astro:assets";

const cercle = "Cercle Magellan";

const comite = [
  { role: "Président", name: "Kevin Dubrule" },
  { role: "Trésorier", name: "Hugo Lorenzoni" },
  { role: "Secrétaire", name: "Lucy Bogaert" },
];

const links = [
  {
    name: "Site web",
    type: LinkType.WEBSITE,
    url: "https://www.magellan.fpms.ac.be/",
  },
  {
    name: "fpms.magellan@umons.ac.be",
    type: LinkType.EMAIL,
    url: "mailto:fpms.magellan@umons.ac.be",
  },
  {
    name: "Facebook",
    type: LinkType.FACEBOOK,
    url: "https://www.facebook.com/CercleMagellan",
  },
  {
    name: "Instagram",
    type: LinkType.INSTAGRAM,
    url: "https://www.instagram.com/cercle_magellan_fpms",
  },
  {
    name: "Twitter",
    type: LinkType.TWITTER,
    url: "https://twitter.com/MagellanFPMs",
  },
  {
    name: "Youtube",
    type: LinkType.YOUTUBE,
    url: "https://www.youtube.com/@cerclemagellanfpms",
  },
  {
    name: "Game - Twitter",
    type: LinkType.TWITTER,
    url: "https://twitter.com/LAN_Party_Game",
  },
];
---

<LayoutCercle
  cercle={cercle}
  imageCercle={_Magellan}
  comite={comite}
  imageComite={imageComite}
  links={links}
>
  <section class="space-y-2 text-justify">
    <h2 class="text-2xl font-medium">Description</h2>
    <p>
      Le Cercle Magellan est <strong
        >le Cercle informatique de la Faculté Polytechnique de Mons</strong
      >. Il est composé d'un groupe d'étudiants, appelés <strong
        >"Admins"</strong
      >. Cette fine équipe est passionnée par l'informatique et se regroupe
      régulièrement pour jouer aux jeux vidéo ou pour réaliser des projets de
      solutions informatiques, tels que des sites web ou de l'hébergement.
    </p>
    <p>
      Le Magellan est également chargé des réseaux internet des Cités Houzeau et
      Franeau, et sert de <strong>"HelpDesk" pour ces cités étudiantes</strong>.
    </p>
    <div class="float-right ml-4 h-48 w-full pb-4 sm:w-1/3">
      <Image
        class="h-full rounded-lg object-cover shadow-md"
        src={Game}
        alt="Game (LAN party) - Cercle Magellan"
        quality={30}
        format="webp"
      />
    </div>
    <p id="game">
      Le Cercle Magellan organise de plus <strong
        >le GAME, une LAN party de 48h</strong
      > où plus de <strong>200 joueurs</strong> participent chaque année à plusieurs
      tournois de jeux vidéo.
    </p>
    <p>
      Si tu es intéressé par l'informatique, les jeux vidéos, ou juste que tu as
      soif d'apprendre, n'hésite pas à nous rejoindre au local 500 ou à
      contacter un membre du comité !
    </p>
  </section>
  <section class="relative space-y-2 text-justify" id="500">
    <h2 class="text-2xl font-medium">Local 500</h2>
    <p>
      Nous disposons d'un local au sein de la Cité Houzeau (local 500) où nous
      mettons à disposition <strong
        >des PC en accès libre avec une session privée</strong
      >. Les PC disponibles sont très performants et permettent aussi bien de
      jouer à tes jeux préférés que de travailler sur des projets, le tout dans
      l'ambiance typique du Magellan.
    </p>
    <div class="h-32">
      <Image
        class="h-full rounded-lg object-cover shadow-md"
        src={_500}
        alt="Local 500"
        quality={30}
        format="webp"
      />
    </div>
  </section>
</LayoutCercle>
