---
import LayoutCercle from "@layouts/LayoutCercle.astro";

import _MM from "@images/cercles/mons-mines.jpg";
import imageComite from "@images/comités/mons-mines.jpg";

const cercle = "Mons-Mines";

const video = {
  url: "https://www.youtube.com/watch?v=cMB74CGXbe4",
  promo: 185, // Promo durant laquelle la vidéo a été tournée
};

const comite = [
  { role: "Président", name: "Philippe Asvestaris" },
  { role: "Rédacteur en chef", name: "Arno Panarisi" },
  { role: "Trésorière", name: "Romane Sogalow" },
  { role: "Secrétaire", name: "Léa Robinet" },
];

const links: { name: string; type: string; url: string }[] | undefined = [];
---

<LayoutCercle
  cercle={cercle}
  imageCercle={_MM}
  video={video}
  comite={comite}
  imageComite={imageComite}
  links={links}
>
  <section class="space-y-2 text-justify">
    <h2 class="text-2xl font-medium">Description</h2>
    <p class="text-center italic">
      « Coucou, ici le Mons-Mines. Votre seule et unique source d'information
      sur la vie des étudiants de Mons. Qui a dit quoi ? Qui a fait quoi ? Que
      s'est-il passé dans cette bonne ville de Mons ? Ça ce sont des secrets que
      vous retrouverez uniquement dans ce journal de la Faculté. Bisous bisous,
      le Mons-Mines. »
    </p>
    <p>
      Le Mons-Mines, ce fabuleux Cercle qui vous propose quatre journaux
      satiriques par an reprenant articles, anecdotes, … tout ce qu'il s'est
      passé dans notre Faculté et que vous avez sans doute raté. Ce journal est
      entièrement rédigé, conçu et géré par des étudiants qui perceront à jour
      vos plus grands secrets. Ce précieux trésor attire à sa sortie des foules
      d'étudiants désireux de connaître ce que les oreilles baladeuses du
      Mons-Mines ont entendu. On peut faire un petit tour dans les entendus pour
      voir qui a dit quoi sur qui ou on peut aussi jeter un coup d'œil à
      l'indétrônable Tournez-Manège pour découvrir tous les potins de la
      Faculté. Bien d'autres choses sont encore à découvrir dans cette merveille
      de papier. Si ta plume te démange, nous serons ravis que tu nous envoies
      un de tes articles, des potins, des entendus, … et ainsi contribuer à la
      confection de ce magnifique journal !
    </p>
  </section>
</LayoutCercle>
