---
import LayoutCercle from "@layouts/LayoutCercle.astro";
import { Image } from "astro:assets";

import _Mutu from "@images/cercles/mutu.jpg";
import imageComite from "@images/comités/mutu.jpg";
import _LocalMutu from "@images/locaux/local-mutu.jpg";

const cercle = "Mutuelle des Étudiants";

const comite = [
  {
    name: "Louis Roost",
    role: "Président",
  },
  {
    name: "Louis Pluquet",
    role: "Trésorier",
  },
  {
    name: "Hugo Dantinne",
    role: "Secrétaire",
  },
];

const links = [
  {
    name: "mutuelle@umons.ac.be",
    type: "EMAIL",
    url: "mailto:mutuelle@umons.ac.be",
  },
  {
    name: "Facebook",
    type: "FACEBOOK",
    url: "https://www.facebook.com/profile.php?id=100064820553784",
  },
];
---

<LayoutCercle
  cercle={cercle}
  imageCercle={_Mutu}
  comite={comite}
  imageComite={imageComite}
  links={links}
>
  <section class="space-y-2 text-justify">
    <h2 class="text-2xl font-medium">Description</h2>
    <p>
      La Mutuelle des Étudiants de la Faculté Polytechnique de Mons (plus
      communément appelée la Mutu) est un Cercle géré par les étudiants pour les
      étudiants.
    </p>
  </section>
  <section class="space-y-2 text-justify" id="local">
    <h3 class="text-2xl font-medium">Local Mutu</h3>
    <div class="float-right ml-4 h-48 w-full pb-4 sm:w-1/2 sm:pb-0">
      <Image
        class="h-full rounded-lg object-cover shadow-md"
        src={_LocalMutu}
        alt="Local Mutu"
        quality={30}
        format="webp"
      />
    </div>
    <p>
      La Mutu possède et gère un local situé à l'arrière de la Cité Houzeau (Rue
      de la Tannerie, N°12).
    </p>

    <p>
      Ce local abrite du <strong
        >matériel d'impression professionnel qui permet aux étudiants d'imprimer
        et de relier tout ce qu'ils souhaitent aux meilleurs prix</strong
      >. Des supports de cours divers aux synthèses en passant par les stickers,
      la Mutu et son comité armé d'une équipe d'ouvreurs se feront le plaisir de
      te servir pendant les heures d'ouvertures en fin de journée et sur le
      temps de midi tout au long de la semaine et ce dans une bonne ambiance !
      Si tu n'es pas disponible sur les heures d'ouverture, il est possible de
      faire une commande par mail ou par Messenger et de venir la retirer au
      moment qui te convient le mieux. La Mutu collabore aussi étroitement avec
      les <strong>Presses Universitaires Montoises (PUM's)</strong> et propose ainsi
      également la vente de syllabi Polytech.
    </p>

    <p>
      Mais ce n'est pas tout ! La Mutu possède aussi <strong
        >une salle d'étude au rez-de-chaussée de son local</strong
      > proposant aux étudiants Polytech <strong>un endroit calme</strong> à deux
      pas des kots de la Cité Houzeau où <strong
        >étudier et collaborer entre camarades avec des horaires d'accès souples</strong
      >.
    </p>
  </section>
</LayoutCercle>
