---
import LayoutCercle from "@layouts/LayoutCercle.astro";
import { Image } from "astro:assets";

import _Q from "@images/cercles/q.jpg";
import imageComite from "@images/comités/q.jpg";
import _Bibli from "@images/locaux/bibli.jpg";
import _LocalProjection from "@images/locaux/local-de-projection.jpg";
import VoyageQ from "@images/grands-evenements/voyageq.jpg";

const cercle = "Cercle Culturel - Q";

const comite = [
  {
    name: "Elisa Bourez",
    role: "Présidente",
  },
  {
    name: "François Cayphas",
    role: "Trésorier",
  },
  {
    name: "Chloé Lhoir",
    role: "Déléguée Bibli",
  },
  {
    name: "Elsa De Volder",
    role: "Déléguée Jeux",
  },
];

const links = [
  {
    name: "Facebook",
    type: "FACEBOOK",
    url: "https://www.facebook.com/cercle.culturel.fpms",
  },
  {
    name: "Local de projection 9/10 - Facebook",
    type: "FACEBOOK",
    url: "https://www.facebook.com/localprojection",
  },
  {
    name: "BibliCité 11/12 - Facebook",
    type: "FACEBOOK",
    url: "https://www.facebook.com/groups/272164387493",
  },
  {
    name: "Groupe Jeux - Facebook",
    type: "FACEBOOK",
    url: "https://www.facebook.com/groups/729600190404859",
  },
  {
    name: "Instagram",
    type: "INSTAGRAM",
    url: "https://www.instagram.com/qulturel_fpms/",
  },
];
---

<LayoutCercle
  cercle={cercle}
  imageCercle={_Q}
  comite={comite}
  imageComite={imageComite}
  links={links}
>
  <section class="space-y-2 text-justify">
    <h2 class="text-2xl font-medium">Description</h2>
    <p>
      Le Cercle Qulturel ou le Q s'occupe de proposer aux étudiants Polytech <strong
        >des activités culturelles et ludiques</strong
      > ainsi que l'accès à deux locaux situés à la Cité Houzeau, la Bibli et un
      local de projection.
    </p>
  </section>
  <section class="space-y-2 text-justify">
    <h3 class="text-2xl font-medium" id="bibli">La Bibli (au 11/12) :</h3>
    <div class="float-right ml-4 h-48 w-full pb-4 sm:w-1/3 sm:pb-0">
      <Image
        class="h-full rounded-lg object-cover shadow-md"
        src={_Bibli}
        alt="BibliCité - 11/12"
        quality={30}
        format="webp"
      />
    </div>
    <p>
      La Bibli, située à l'inter-étage 11/12 de la Cité, est un endroit
      convivial où vous pouvez venir vous détendre après les cours. En effet, la
      Bibli est ouverte généralement de <strong>18h à 20h</strong> et vous
      propose au choix de la lecture, des jeux de sociétés, une conversation
      sympa autour d'un verre. Plus de <strong
        >4000 BDs et moults jeux de sociétés</strong
      > vous attendent donc n'hésitez pas à y passer ! Elle est également
      disponible sur demande au comité pour des réunions dans un espace cosy.
    </p>
  </section>
  <section class="space-y-2 text-justify">
    <h3 class="text-2xl font-medium" id="projection">
      Le local de projection (au 9/10) :
    </h3>
    <div class="float-left mr-4 h-48 w-full pb-4 sm:w-1/3">
      <Image
        class="h-full rounded-lg object-cover shadow-md"
        src={_LocalProjection}
        alt="Local de projection - 9/10"
        quality={30}
        format="webp"
      />
    </div>
    <p>
      Le local de projection situé à l'inter-étage 9/10 (d'où son nom) vous
      permet de <strong>regarder films ou séries</strong> de votre choix avec
      vos amis jusqu'à tard le soir. Pour cela, il vous suffit de nous prévenir
      via <a
        class="text-blue-900 underline"
        href={links.find(
          (link) => link.name === "Local de projection 9/10 - Facebook",
        )?.url}>notre page Facebook</a
      > pour que le comité vous ouvre le local. Nous vous demandons simplement
      de ranger le local quand vous avez fini. Le local est accessible
      exclusivement en semaine.
    </p>
  </section>
  <section class="clear-both space-y-2 text-justify">
    <h3 class="text-2xl font-medium">Voyage Q :</h3>
    <div class="float-right ml-4 h-48 w-full pb-4 sm:w-1/3 sm:pb-0">
      <Image
        class="h-full rounded-lg object-cover shadow-md"
        src={VoyageQ}
        alt="Voyage Q"
        quality={30}
        format="webp"
      />
    </div>
    <p>
      Chaque année, le Q organise <strong
        >un voyage de quelques jours dans une ville d'Europe durant un week-end
        du mois de novembre</strong
      >. Ce voyage est ouvert à tous et est proposé à <strong
        >un prix des plus démocratiques</strong
      >. Les années précédentes, les destinations étaient Munich, Hambourg,
      Vienne, Prague, ...
    </p>
  </section>
  <section class="space-y-2 text-justify">
    <h3 class="text-2xl font-medium">Autres activités :</h3>
    <p>
      Durant l'année, nous proposons différentes activités comme par exemple des
      soirées jeux, des sorties au cinéma, des sorties culturelles, des soirées
      projection dans un auditoire, ... Si vous avez des questions ou
      propositions d'activités, n'hésitez pas à contacter un membre du comité !
    </p>
  </section>
</LayoutCercle>
