---
import LayoutCercle from "@layouts/LayoutCercle.astro";

import _Radio from "@images/cercles/radio-extra.jpg";
import imageComite from "@images/comités/radio-extra.jpg";

const cercle = "Cercle Radio Extra";

const comite = [
  {
    name: "Alice Legrain",
    role: "Présidente",
  },
  {
    name: "Maël Lecomte",
    role: "Trésorier",
  },
  {
    name: "Loïc Liégeois",
    role: "Secrétaire",
  },
  {
    name: "Romain Lhote",
    role: "Délégué à la technique",
  },
  {
    name: "Julien Demaret",
    role: "Délégué à la programmation",
  },
];
const links = [
  {
    name: "Facebook",
    type: "FACEBOOK",
    url: "https://www.facebook.com/radioextra69",
  },
  {
    name: "Instagram",
    type: "INSTAGRAM",
    url: "https://www.instagram.com/radio_extra/",
  },
  {
    name: "Youtube",
    type: "YOUTUBE",
    url: "https://www.youtube.com/@radioextra6117",
  },
  {
    name: "TikTok",
    type: "TIKTOK",
    url: "https://www.tiktok.com/@radio_extra",
  },
  {
    name: "Spotify",
    type: "SPOTIFY",
    url: "https://l.instagram.com/?u=https%3A%2F%2Fopen.spotify.com%2Fuser%2F315x2bk4yajnpsavcryx22euuoxy%3Fsi%3Dlu14bM5ET4uTSOP6wXOFMQ&e=AT1ouNr1ISSsX04JGDPdEvjESEuZLVoVZLmWXU8c45W4qVxXqYs_D5WafjzhhKqfdav-CMaVBCHvb1r4raRNMvM7zbzuLTo0c1D9kA",
  },
];
---

<LayoutCercle
  cercle={cercle}
  imageCercle={_Radio}
  comite={comite}
  imageComite={imageComite}
  links={links}
>
  <section class="space-y-2 text-justify">
    <h2 class="text-2xl font-medium">Description</h2>
    <p>
      La Radio Extra, c'est le Cercle qui divertit les étudiants de la Faculté
      Polytechnique de Mons. Vieille de 47 années, elle ne cesse de se
      renouveler et de proposer des nouveautés chaque année. La Radio vous
      propose de multiples activités : des émissions aux thèmes variés
      (auxquelles tu peux assister sur place ou depuis chez toi), des soirées
      ouvertes à tous, mais aussi un souper, un débat d'élections, etc.
    </p>
    <p>
      Mais ce n'est pas tout ! La Radio crée aussi régulièrement du contenu
      divertissant tel que des vidéos ou des playlists musicales, disponibles
      sur nos réseaux. N'hésite pas à en profiter dès à présent en te rendant
      sur nos pages YouTube, Instagram, TikTok, et Spotify !
    </p>
    <p>
      La Radio est également active lors de la Bleusaille puisqu'elle y anime
      les Matinales Radio. Le lieu qui rassemble les batraciens participant à
      nos activités se situe au local 400 de la Cité Houzeau. C'est un endroit
      idéal pour passer du bon temps, confortablement assis dans des canapés,
      souvent un doux breuvage à la main !
    </p>
    <p>Y a qu'une Radio… À Mons ! Et c'est Radio… Extra !</p>
  </section>
</LayoutCercle>
