---
import LayoutCercle from "@layouts/LayoutCercle.astro";

import _Scientifique from "@images/cercles/scientifique.jpg";
import imageComite from "@images/comités/scientifique.jpg";

const cercle = "Cercle Scientifique";

const video = {
  url: "https://www.youtube.com/watch?v=EUW6xxHjwIY",
  promo: 185, // Promo durant laquelle la vidéo a été tournée
};

const comite = [
  { role: "Président", name: "Nathan Marcus" },
  { role: "Secrétaire", name: "Audran Duquène" },
];

const links: { name: string; type: string; url: string }[] | undefined = [];
---

<LayoutCercle
  cercle={cercle}
  imageCercle={_Scientifique}
  video={video}
  comite={comite}
  imageComite={imageComite}
  links={links}
>
  <section class="space-y-2 text-justify">
    <h2 class="text-2xl font-medium">Description</h2>
    <p>
      On dit souvent qu'un ingénieur civil ne sait pas utiliser ses dix doigts
      et encore moins planter des clous... Le Cercle Scientifique est là pour y
      remédier !
    </p>
    <p>
      Le Cercle Scientifique est premièrement un Cercle tourné vers l'aide aux
      étudiants et aux autres Cercles de la Faculté. Comment peut-il vous aider
      ? Que cela soit pour des petites réparations dans votre kot comme un
      problème d'armoire ou encore un souci de fenêtre, le Cercle Scientifique
      est disponible tout au long de l'année pour vous venir en aide !
    </p>
    <p>
      Le Scientifique est aussi le Cercle qui peut vous prêter gratuitement du
      matériel de bricolage de bonne qualité (tel que des visseuses, scies
      sauteuses, marteaux, pieds-de-biche, etc…) pour vos projets académiques ou
      personnels.
    </p>
    <p>
      Le Cercle Scientifique est également le Cercle qui s'implique dans deux
      des trois méchouis annuels et qui organise chaque année depuis 10 ans
      maintenant la BGT (Big Guinze Theory) avec l'aide du Cercle Radio Extra et
      du Cercle Magellan. Son plus grand projet annuel reste la construction du
      char qui défile fièrement dans les rues de Mons depuis plus de 50 ans lors
      du cortège des étudiants le jour du Baptême !
    </p>
  </section>
</LayoutCercle>
