---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";

import _SDM from "@images/cercles/sdm.jpg";
import Comite from "@images/comités/sdm.jpg";

const cercle = "Cercle Sono-Danse-Musique";

const president = "Joséphine Vincart";
const tresorier = "Chloé Pierart";
const delegue_sono = "Cyril De Marez";
const delegue_danse = "Kateline Malray";
const delegue_musique = "Mathis Lete";
---

<Layout title={cercle}>
  <main class="container mt-4 space-y-6" transition:animate="slide">
    <div class="h-64 w-full overflow-hidden rounded-2xl">
      <Image
        class="-z-10 h-full w-full object-cover"
        src={_SDM}
        alt={cercle}
        quality={100}
        format="webp"
      />
    </div>
    <div class="mx-auto max-w-5xl space-y-6">
      <h1 class="text-5xl font-semibold">{cercle}</h1>
      <section class="space-y-2 text-justify">
        <h2 class="text-2xl font-medium">Description</h2>
        <p>
          Dans cette énorme symphonie qu'est la vie, te voilà arrivé dans une
          nouvelle ère ! Installe-toi confortablement, pose ton casque sur tes
          oreilles et laisse-toi bercer par le rythme des syllabi, des cours
          et... de la vie étudiante ! Tu t'apprêtes maintenant à vivre au sein
          de notre Faculté ce qui seront probablement les années les plus riches
          de ta vie, et elles pourront vibrer au rythme de la musique si tu
          désires approcher le Cercle Sono-Danse-Musique.
        </p>
        <p>
          Comme tu t'en doutes probablement, l'activité principale de notre
          Cercle (plus communément appelé " La Sono ") a pour mission principale
          l'animation musicale des différentes activités étudiantes, telles que
          les soirées, soupers ou autres. Comme son nom l'indique, le Cercle ne
          s'occupe pas uniquement de l'aspect sono et rassemble danseurs et
          musiciens autour de leur passion à plusieurs reprises durant l'année
          afin de mettre en place chorégraphies et concerts qui se déroulent
          devant un public.
        </p>
        <p>
          Parallèlement à la vie de la Faculté, les membres du comité animent
          également des soirées privées. Que ce soit pour un anniversaire, un
          mariage ou encore une soirée, tu peux faire appel à nous ! Nous
          viendrons avec plaisir animer l'évènement en suivant tes critères
          musicaux si tu en as. Le Cercle possède tout le matériel nécessaire à
          la sonorisation de ce genre d'évènements et ce, à des prix vraiment
          intéressants
        </p>
        <p>
          Alors, si le monde de la musique t'intéresse ou si tu souhaites t'en
          approcher, tu auras de nombreuses occasions de t'y investir et le
          Cercle t'ouvrira chaleureusement les bras ! Si tu as des questions ou
          besoin de renseignements, tu peux nous contacter via notre page
          Facebook ou encore notre compte Instagram « Sono-Dance-Musique ». A
          bientôt !
        </p>
      </section>
      <section
        class="rounded-lg border-r-4 border-blue-900 bg-white font-medium shadow-xl sm:flex"
      >
        <div class="aspect-video flex-1 overflow-hidden">
          <Image
            class="h-full w-full rounded-lg object-cover"
            src={Comite}
            alt="Comité de la Fédération des étudiants de la Faculté Polytechnique de Mons (FPMs)"
            quality={30}
            format="webp"
          />
        </div>
        <div
          class="inline-flex w-full flex-col justify-center px-6 py-6 sm:w-auto"
        >
          <h2 class="mx-auto max-w-fit pb-4 text-xl">Comité</h2>
          <ul>
            <li><strong>Présidente :</strong>{" "}{president}</li>
            <li><strong>Trésorière :</strong>{" "}{tresorier}</li>
            <li>
              <strong>Délégué sono :</strong>{" "}{delegue_sono}
            </li>
            <li>
              <strong>Déléguée danse :</strong>{" "}{delegue_danse}
            </li>
            <li>
              <strong>Délégué musique :</strong>{" "}{delegue_musique}
            </li>
          </ul>
        </div>
      </section>
      <section class="space-y-2 font-medium">
        <h2 class="text-2xl">Réseaux sociaux</h2>
        <ul class="space-y-1 text-blue-900">
          <li>
            <a
              class="flex w-min gap-2 underline duration-150 hover:translate-x-2 hover:opacity-80"
              href="https://www.instagram.com/sonodansemusique_fpms/"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-instagram"
                ><rect width="20" height="20" x="2" y="2" rx="5" ry="5"
                ></rect><path
                  d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"
                ></path><line x1="17.5" x2="17.51" y1="6.5" y2="6.5"
                ></line></svg
              >Instagram</a
            >
          </li>
          <li>
            <a
              class="flex w-min gap-2 underline duration-150 hover:translate-x-2 hover:opacity-80"
              href="https://www.facebook.com/sono.danse.musique.fpms"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-facebook"
                ><path
                  d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"
                ></path></svg
              >Facebook</a
            >
          </li>
          <li>
            <a
              class="flex w-min gap-2 underline duration-150 hover:translate-x-2 hover:opacity-80"
              href="https://www.youtube.com/channel/UCmQvRPxJILoCeJW013MdEtA"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-youtube"
                ><path
                  d="M2.5 17a24.12 24.12 0 0 1 0-10 2 2 0 0 1 1.4-1.4 49.56 49.56 0 0 1 16.2 0A2 2 0 0 1 21.5 7a24.12 24.12 0 0 1 0 10 2 2 0 0 1-1.4 1.4 49.55 49.55 0 0 1-16.2 0A2 2 0 0 1 2.5 17"
                ></path><path d="m10 15 5-3-5-3z"></path></svg
              >Youtube</a
            >
          </li>
          <li>
            <a
              class="flex w-min gap-2 underline duration-150 hover:translate-x-2 hover:opacity-80"
              href="https://linktr.ee/SonoDanseMusique_FPMs"
              ><svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M3.5 11.9976C3.5 7.30452 7.30452 3.5 11.9976 3.5C16.6908 3.5 20.4953 7.30452 20.4953 11.9976C20.4953 16.6908 16.6908 20.4953 11.9976 20.4953C7.30452 20.4953 3.5 16.6908 3.5 11.9976ZM11.9976 1.5C6.19995 1.5 1.5 6.19995 1.5 11.9976C1.5 17.7953 6.19995 22.4953 11.9976 22.4953C17.7953 22.4953 22.4953 17.7953 22.4953 11.9976C22.4953 6.19995 17.7953 1.5 11.9976 1.5ZM6.58886 7.81169C6.48624 7.26902 6.84298 6.74592 7.38565 6.64331C7.98535 6.54239 8.59286 6.49319 9.20055 6.47725C10.2721 6.44914 11.7394 6.52235 13.294 6.93892C14.8487 7.35549 16.1561 8.02575 17.07 8.58585C17.5854 8.90177 18.0975 9.24236 18.5579 9.63641C18.9714 9.99199 19.0204 10.6337 18.6645 11.0474C18.3047 11.4656 17.6743 11.5133 17.2556 11.1543C16.8767 10.829 16.4494 10.5513 16.0249 10.2911C15.2209 9.79833 14.0926 9.22344 12.7764 8.87077C11.4602 8.5181 10.1957 8.45183 9.25299 8.47656C8.75397 8.48965 8.24933 8.52191 7.7568 8.60857C7.21429 8.7109 6.69144 8.35421 6.58886 7.81169ZM7.57136 12.3409C7.05016 12.5151 6.48542 12.2358 6.30795 11.715C6.12983 11.1922 6.40923 10.624 6.93201 10.4459C7.43418 10.2752 7.97927 10.2036 8.50474 10.1603C9.44887 10.0825 10.7702 10.1141 12.3312 10.5324C13.8922 10.9507 15.0523 11.5839 15.831 12.1234C16.2699 12.4274 16.6857 12.7662 17.0502 13.1571C17.4139 13.5727 17.3718 14.2045 16.9562 14.5681C16.5403 14.932 15.9139 14.8769 15.5464 14.4756C15.5138 14.4403 15.2316 14.1411 14.6921 13.7674C14.0759 13.3406 13.1234 12.8152 11.8135 12.4642C10.5037 12.1133 9.41608 12.092 8.669 12.1535C8.29606 12.1843 7.93296 12.2481 7.57136 12.3409ZM6.47141 14.18C5.99179 14.4538 5.82495 15.0646 6.09878 15.5442C6.36807 16.0159 6.96329 16.1851 7.43912 15.9301C7.63939 15.8384 7.87055 15.8011 8.08687 15.7738C8.62406 15.7061 9.52907 15.7036 10.8507 16.0577C12.1723 16.4118 12.9548 16.8665 13.3862 17.1937C13.7115 17.4406 13.8457 17.6204 13.8677 17.6511C14.178 18.0878 14.738 18.272 15.2227 17.989C15.6996 17.7105 15.8605 17.0981 15.5821 16.6212C15.3193 16.2207 14.9758 15.8893 14.5949 15.6004C13.9395 15.1031 12.9176 14.541 11.3683 14.1259C9.81907 13.7107 8.65294 13.6866 7.8367 13.7895C7.36239 13.8493 6.89923 13.9646 6.47141 14.18Z"
                  fill="currentColor"></path>
              </svg>Spotify</a
            >
          </li>
        </ul>
      </section>
    </div>
  </main>
</Layout>
