---
import LayoutCercle from "@layouts/LayoutCercle.astro";

import _SDM from "@images/cercles/sdm.jpg";
import imageComite from "@images/comités/sdm.jpg";

const cercle = "Cercle Sono-Danse-Musique";

const comite = [
  { role: "Présidente", name: "Joséphine Vincart" },
  { role: "Trésorière", name: "Chloé Pierart" },
  { role: "Délégué sono", name: "Cyril De Marez" },
  { role: "Déléguée danse", name: "Kateline Malray" },
  { role: "Délégué musique", name: "Mathis Lete" },
];

const links = [
  {
    name: "Instagram",
    type: "INSTAGRAM",
    url: "https://www.instagram.com/sonodansemusique_fpms/",
  },
  {
    name: "Facebook",
    type: "FACEBOOK",
    url: "https://www.facebook.com/sono.danse.musique.fpms",
  },
  {
    name: "Youtube",
    type: "YOUTUBE",
    url: "https://www.youtube.com/channel/UCmQvRPxJILoCeJW013MdEtA",
  },
  {
    name: "Playlists partagées",
    type: "SPOTIFY",
    url: "https://linktr.ee/SonoDanseMusique_FPMs",
  },
];
---

<LayoutCercle
  cercle={cercle}
  imageCercle={_SDM}
  comite={comite}
  imageComite={imageComite}
  links={links}
>
  <section class="space-y-2 text-justify">
    <h2 class="text-2xl font-medium">Description</h2>
    <p>
      Dans cette énorme symphonie qu'est la vie, te voilà arrivé dans une
      nouvelle ère ! Installe-toi confortablement, pose ton casque sur tes
      oreilles et laisse-toi bercer par le rythme des syllabi, des cours et...
      de la vie étudiante ! Tu t'apprêtes maintenant à vivre au sein de notre
      Faculté ce qui seront probablement les années les plus riches de ta vie,
      et elles pourront vibrer au rythme de la musique si tu désires approcher
      le Cercle Sono-Danse-Musique.
    </p>
    <p>
      Comme tu t'en doutes probablement, l'activité principale de notre Cercle
      (plus communément appelé "La Sono") a pour mission principale l'animation
      musicale des différentes activités étudiantes, telles que les soirées,
      soupers ou autres. Comme son nom l'indique, le Cercle ne s'occupe pas
      uniquement de l'aspect sono et rassemble danseurs et musiciens autour de
      leur passion à plusieurs reprises durant l'année afin de mettre en place
      chorégraphies et concerts qui se déroulent devant un public.
    </p>
    <p>
      Parallèlement à la vie de la Faculté, les membres du comité animent
      également des soirées privées. Que ce soit pour un anniversaire, un
      mariage ou encore une soirée, tu peux faire appel à nous ! Nous viendrons
      avec plaisir animer l'évènement en suivant tes critères musicaux si tu en
      as. Le Cercle possède tout le matériel nécessaire à la sonorisation de ce
      genre d'évènements et ce, à des prix vraiment intéressants
    </p>
    <p>
      Alors, si le monde de la musique t'intéresse ou si tu souhaites t'en
      approcher, tu auras de nombreuses occasions de t'y investir et le Cercle
      t'ouvrira chaleureusement les bras ! Si tu as des questions ou besoin de
      renseignements, tu peux nous contacter via notre page Facebook ou encore
      notre compte Instagram « Sono-Dance-Musique ». A bientôt !
    </p>
  </section>
</LayoutCercle>
