---
import LayoutCercle from "@layouts/LayoutCercle.astro";
import { Image } from "astro:assets";

import _Sports from "@images/cercles/sports.jpg";
import imageComite from "@images/comités/sports.jpg";
import Ski from "@images/grands-evenements/ski.jpg";

const cercle = "Cercle des Sports";

const comite = [
  {
    name: "Hugues De Croon",
    role: "Président",
  },
  {
    name: "Théo Duboquet",
    role: "Vice-président",
  },
  {
    name: "Hugo Musin",
    role: "Trésorier",
  },
  {
    name: "Arthur Dufrane",
    role: "Secrétaire",
  },
];

const links = [
  {
    name: "Instagram",
    type: "INSTAGRAM",
    url: "https://www.instagram.com/cercle_des_sports_fpms/",
  },
  {
    name: "Facebook",
    type: "FACEBOOK",
    url: "https://www.facebook.com/Cercle.des.Sports",
  },
  {
    name: "Rendez-vous sportifs Polytech - Groupe (Privé) Facebook",
    type: "FACEBOOK",
    url: "https://www.facebook.com/groups/353273941735601",
  },
];
---

<LayoutCercle
  cercle={cercle}
  imageCercle={_Sports}
  comite={comite}
  imageComite={imageComite}
  links={links}
>
  <section class="space-y-4 text-justify">
    <h2 class="text-2xl font-medium">Description</h2>
    <p>
      En rentrant à la Faculté Polytechnique, une nouvelle vie t'ouvre les bras.
      De nouvelles activités et rencontres s'offrent à toi. Bien entendu, quand
      tu en auras marre de ton cours d'analyse ou de chimie, tu ressentiras
      inévitablement une envie d'évasion et de détente.
    </p>
    <p>
      Dans cette euphorie qu'est la rentrée à l'Université, <strong
        >le sport est un bon moyen de garder un esprit sain dans un corps sain</strong
      >. Il permet tant d'avoir des pecs d'aciers que de s'échapper le temps
      d'une course ou d'une séance. Peu importe ton niveau, <strong
        >le Cercle des Sports est là pour te divertir au travers d'activités
        proposées tout au long de l'année !</strong
      >
    </p>
    <h2 class="text-2xl font-medium">Sport hebdomadaire :</h2>
    <ul class="space-y-2">
      <li>
        <h3 class="font-medium before:inline-block before:content-['-']">
          <span class="underline">UMONS-Sport</span>
        </h3>
        <p>
          La carte UMons-Sport, vendue au prix de 10 €, te permet d'accéder
          durant toute l'année à tous les entrainements sportifs que la cellule
          UMONS-Sport propose. Par exemple : badminton, escalade, football,
          volley, et même du Quidditch !
        </p>
      </li>
      <li>
        <h3 class="font-medium before:inline-block before:content-['-']">
          <span class="underline">Amateur de course</span>
        </h3>
        <p>
          <strong>Des joggings</strong> sont organisés de manière hebdomadaire avec
          un niveau adapté à celui des participants. Le départ se fait depuis la
          Cité Houzeau et vous pouvez être au courant de l'itinéraire et de l'heure
          de rendez-vous via le groupe Messenger et via notre page Facebook.
        </p>
      </li>
      <li>
        <h3 class="font-medium before:inline-block before:content-['-']">
          <span class="underline">Zumba et abdos-fessiers</span>
        </h3>
        <p>
          Une fois par semaine, nous proposons à tous les étudiants de nous
          rejoindre à la salle Ping-Pong de la Cité Houzeau pour participer à <strong
            >un cours de zumba ou une séance de renforcement musculaire</strong
          > donnée par un prof expérimenté.
        </p>
      </li>
      <li>
        <h3 class="font-medium before:inline-block before:content-['-']">
          <span class="underline">Championnat inter-universitaire</span>
        </h3>
        <p>
          L'UMONS participe au <strong
            >championnat inter-universitaire de l'ASEUS</strong
          >
          (Association Sportive de l'Enseignement Universitaire et Supérieur). Nous
          y alignons un grand nombre de nos équipes mais il est également possible
          d'y prendre part dans une large gamme de sports individuels (escrime, athlétisme,
          natation, judo, tir à l'arc, ...). Chaque année, des étudiants de l'UMONS
          brillent et se distinguent parmi les meilleurs en Belgique et à l'étranger
          !
        </p>
      </li>
    </ul>
    <h2 class="text-2xl font-medium">Du sport quand tu en as envie :</h2>
    <ul class="space-y-2">
      <li id="800">
        <h3 class="font-medium before:inline-block before:content-['-']">
          <span class="underline">Envie de pousser ?</span>
        </h3>
        <p>
          Oui vous avez bien compris, <strong
            >une salle de sport est disponible au local 800 de la Cité Houzeau</strong
          >. Equipé d'un tapis de course, de nombreux poids et de plusieurs
          machines de musculation, cette salle conviendra aux plus expérimentés
          comme aux débutants. Le 800 est donc l'endroit idéal pour aller se
          défouler avec un ami après une journée de cours. Pour y accéder, rien
          de plus simple, le badge étudiant permet d'ouvrir le local ! Si vous
          n'en avez pas, il vous suffit de contacter un des membres du comité.
        </p>
      </li>
      <li>
        <h3 class="font-medium before:inline-block before:content-['-']">
          <span class="underline">Un petit foot ?</span>
        </h3>
        <p>
          Toi et une bande de copains avez une soudaine envie de taper un foot ?
          Pas de souci ! <strong
            >Un terrain synthétique de mini-foot, situé à côté des amphithéâtres
            du site du Joncquois</strong
          > est disponible en permanence. Il suffit de nous envoyer un petit message
          pour que l'on vous apporte le matériel nécessaire pour jouer selon vos
          désirs au football, au basketball et même au floorball.
        </p>
      </li>
    </ul>
    <h2 class="text-2xl font-medium">Activités ponctuelles :</h2>
    <p>
      Chaque année, le Cercle des Sports propose des activités plus conséquentes
      sous forme d'événements. Ces activités varient chaque année de sorte à
      vous faire découvrir un maximum de chose durant votre cursus. Pour vous
      donner quelques exemples, ces dernières années nous avons proposé <strong
        >de l'escalade, du patinage sur glace, du karting, du bowling, un
        tournoi de squash et de padel, un laser game ou encore un paintball</strong
      >. De plus, nous proposons occasionnellement des déplacements, pour aller
      assister à un match de basket par exemple. Nous affrétons également chaque
      année un car pour aller assister <strong
        >aux 24H Vélo de Louvain-La-Neuve</strong
      >.
    </p>
    <h2 class="text-2xl font-medium" id="ski">Le Ski Polytech :</h2>
    <div class="float-right ml-4 h-48 w-full pb-4 sm:w-1/3 sm:pb-0">
      <Image
        class="h-full rounded-lg object-cover shadow-md"
        src={Ski}
        alt="Ski Polytech"
        quality={30}
        format="webp"
      />
    </div>
    <p>
      Enfin, le plus bel événement de cette Faculté n'est autre que <strong
        >le Ski Polytech organisé par le Cercle des Sports</strong
      >. Il se déroule durant <strong>la semaine blanche</strong>, la semaine
      suivant la session de janvier. Si tu désires te défouler pendant une
      semaine en glissant sur les pistes, libre à toi de t'inscrire pour
      embarquer dans le car. Tu pourras ainsi profiter de l'incroyable ambiance
      Polytech et profiter de super activités organisées par le comité sur place
      comme de la luge, du parapente et bien d'autres !
    </p>
    <h2 class="text-2xl font-medium">Conclusion :</h2>
    <p>
      Surtout, n'aie pas peur de franchir le pas pour <strong
        >participer aux activités sportives avec nous</strong
      >, découvrir du monde et passer des moments sportifs mémorable. Ensuite,
      si tu as des questions, des suggestions, des nouveaux sports à proposer,
      ou que tu as envie de t'impliquer dans l'organisation des entrainements,
      n'hésite pas à contacter un des membres du comité ou à te renseigner sur <a
        class="text-blue-900 underline"
        href={links.find((link) => link.type === "FACEBOOK")?.url}
        >notre page Facebook « Cercle des Sports F.P.Ms »</a
      > !
    </p>
  </section>
</LayoutCercle>
